.heading
{
    width:100%;
    text-align: left;
    height: 140px;
}

.heading button
{
    float:right;
    margin-bottom: 170px;
}

.heading h2
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}